<div class="header">
  <div class="header__filter">
    <mat-form-field appearance="outline">
      <mat-label>Filtro</mat-label>
      <input
        matInput
        placeholder="Informe o dado a ser filtrado"
        #input
        (keyup)="onFilter($event)"
      />
    </mat-form-field>
  </div>
  <div class="header__btn">
    <button mat-fab (click)="onNavigateTo('create')">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<table mat-table [dataSource]="dataSource" matSort>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let row">{{ row.id }}</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
    <td mat-cell *matCellDef="let row">{{ row.title | titlecase }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
    <td mat-cell *matCellDef="let row">{{ row.description | titlecase }}</td>
  </ng-container>
  <ng-container matColumnDef="remarks">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Observation</th>
    <td mat-cell *matCellDef="let row">{{ row.remarks | titlecase }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
    <td mat-cell *matCellDef="let row">
      <button mat-fab (click)="onNavigateTo('update', row.id)">
        <mat-icon>build</mat-icon>
      </button>
      <button mat-fab (click)="onNavigateTo('delete', row.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
