.container {
  height: 100%;
}

.sidebar {
  width: 18rem;
  height: 100%;

  &__icon {
    margin: 2rem auto;

    width: 100px;
    height: 100px;

    display: grid;
    align-items: center;
    justify-content: center;

    background-color: darkgray;

    border-radius: 5rem;
  }

  &__username {
    text-align: center;
  }

  &__logout {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    button {
      grid-column: 2 / span 2;
    }
  }
}
