<lab-card-form
  title="Editar Usuário"
  subtitle="Edite as informações do usuário"
  [formGroup]="form"
  (handleCancel)="onCancel()"
  (handleSubmit)="onSubmit()"
>
  <div class="content__input" *ngFor="let field of fields">
    <mat-form-field appearance="outline" class="content__input__field">
      <mat-label>{{ field.label }}</mat-label>
      <input
        matInput
        [placeholder]="field.placeholder"
        [formControlName]="field.formControlName"
      />
    </mat-form-field></div
></lab-card-form>
