<mat-card>
  <mat-card-header>
    <mat-card-title>
      <p class="mat-headline-5">Editar Usuário</p>
    </mat-card-title>
    <mat-card-subtitle>
      <p class="mat-subtitle-1">Edite as informações do usuário</p>
    </mat-card-subtitle>
  </mat-card-header>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-content class="content">
      <div class="content__input" *ngFor="let field of fields">
        <mat-form-field appearance="outline" class="content__input__field">
          <mat-label>{{ field.label }}</mat-label>
          <input
            matInput
            [placeholder]="field.placeholder"
            [formControlName]="field.formControlName"
          />
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions class="card__actions">
      <button mat-raised-button class="card__actions--submit">Enviar</button>
      <button
        mat-raised-button
        class="card__actions--cancel"
        (click)="onCancel()"
      >
        Cancelar
      </button>
    </mat-card-actions>
  </form>
</mat-card>
