@use 'variables' as sass;

.header {
  margin: 0 0 4rem;
  border-radius: 8px;

  &__back {
    margin-right: 0.5rem;
  }

  &__title {
    height: 100%;
    margin-left: 1.4rem;
  }

  mat-divider {
    height: 80%;
  }
}

button {
  background-color: sass.$secondary;
}
