<mat-card>
  <mat-card-header>
    <mat-card-title>
      <p class="mat-headline-5">{{ title }}</p>
    </mat-card-title>
    <mat-card-subtitle>
      <p class="mat-subtitle-1">{{ subtitle }}</p>
    </mat-card-subtitle>
  </mat-card-header>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" *ngIf="formGroup">
    <mat-card-content class="content">
      <ng-container *ngTemplateOutlet="cardContent"></ng-container>
    </mat-card-content>

    <ng-container *ngTemplateOutlet="cardButtons"></ng-container>
  </form>

  <div *ngIf="!formGroup">
    <mat-card-content class="content">
      <ng-container *ngTemplateOutlet="cardContent"></ng-container>
    </mat-card-content>
    <ng-container *ngTemplateOutlet="cardButtons"></ng-container>
  </div>

  <ng-template #cardContent>
    <ng-content></ng-content>
  </ng-template>

  <ng-template #cardButtons>
    <mat-card-actions class="card__actions">
      <button
        mat-raised-button
        class="card__actions--submit"
        (click)="onSubmit()"
      >
        Enviar
      </button>
      <button
        mat-raised-button
        class="card__actions--cancel"
        (click)="onCancel()"
      >
        Cancelar
      </button>
    </mat-card-actions>
  </ng-template>
</mat-card>
