@use 'variables' as sass;

@mixin define-grid($bg-color){
  display: grid;
  background-color: $bg-color;
}

.card {
  &__actions {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
  }
}

button.card__actions--submit {
  @include define-grid(sass.$primary);
  grid-column: 11/12;
}

button.card__actions--cancel {
  @include define-grid(sass.$secondary);
  grid-column: 12/12;
}

.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
