@use "variables" as sass;

.container {
  height: 100%;
  background-color: sass.$primary;
  padding: 0;
}

button {
  height: 100%;
  width: 100%;
  max-width: 4rem;
  background-color: #ffc300;
  border: 0;
  transition: all 0.2s ease;

  &:hover {
    filter: brightness(105%);
  }

  &:active {
    filter: brightness(85%);
  }
}
