.backdrop {
    &:first-of-type {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 999;
      display: grid;
      position: fixed;
      align-items: center;
      justify-content: center;
      backdrop-filter: blur(3px);
      background-color: #0000009f;
    }
  }